# Output objects
*.o
*.so
*.tar.gz

# Regression test results
regression.diffs
regression.out
optimizer_status.out

plr.sql
concourse/secrets/
results/
.deps/
vagrant/.vagrant/

gpdb/BUILDROOT/
gpdb/SOURCES/
gpdb/SRPMS/
gpdb/*.yml
gpdb/*.rpm
gpdb/*.gppkg